# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# Android
android/.gradle/
android/local.properties
android/**/GeneratedPluginRegistrant.java

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Web
web/.dart_tool/

# VSCode / IntelliJ / Android Studio
.vscode/
.idea/
*.iml

# Mac / Windows
.DS_Store
Thumbs.db

# Others
*.log